@use 'variables';

.header {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: variables.$corDeFundo;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    &__logo {
        width: 50px;
    }

    &__nav {
        display: flex;
        gap: 24px;

        a {
            text-decoration: none;
            color: variables.$corDestaque;
            text-transform: uppercase;
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
                color: variables.$corDestaqueAcoes;
            }
        }
    }

    &__hamburger {
        display: none;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        div {
            width: 24px;
            height: 2px;
            background: variables.$corDestaque;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__nav {
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            background: variables.$corDeFundo;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px solid rgba(0,0,0,0.08);
            padding-bottom: 16px;

            &--is-open {
                display: flex;
            }
        }

        &__hamburger {
            display: flex;
        }
    }

}