@use 'variables';

.hero {
    position: relative;
    padding: 5.6vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 56.25vw;
            min-height: 100vh;
            min-width: 177.77vh;
            pointer-events: none;
            z-index: -2;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        color: variables.$corTextoPrincipal;

        h2 {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 32px;
        }
    }

    .button {
        text-decoration: none;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        color: variables.$corTextoPrincipal;
        font-weight: bold;
        text-transform: uppercase;
        background-color: variables.$corDestaque;
        padding: 16px;
        border-radius: 8px;
        border: variables.$corDestaque 2px solid;
        transition: background-color 0.3s ease, color 0.3s ease;
        animation: pulse 2.5s ease-in-out infinite;

        @keyframes pulse {
            0%, 100% {
            transform: scale(1);
            box-shadow: 0 0 10px rgba(variables.$corDestaque, 0.4);
            }
            50% {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(variables.$corDestaque, 0.8);
            }
        }

        &:hover {
        background-color: variables.$corDestaqueAcoes;
        }
    }
}
