@use 'variables';

.midia {
    padding: 2vw 5.6vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }
        
        &__item {
            img {
                width: 100%;
                aspect-ratio: 2 / 3;
                object-fit: contain;
                border-radius: 4px;
                filter: grayscale(100%) brightness(80%);
                transition: all 0.3s ease;
                max-height: 500px;

                &:hover {
                    filter: grayscale(0%) brightness(100%);
                    transform: scale(1.02);
                }
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        
        &__button {
            color: variables.$corTextoPrincipal;
            font-size: 24px;
            border: none;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            font-family: Cinzel, serif;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: variables.$corDestaque;
            }

            &--is-active {
                border-bottom: 5px solid variables.$corDestaque;
            }
        }
    }
}

@media (max-width: 1600px) {
    .midia {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    }
}


@media (max-width: 1200px) {
    .midia {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            &__item img {
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 768px) {
    .midia {
        &__list {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }
    }
}

@media (max-width: 480px) {
    .midia {
        &__list {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
}