.watch-anywhere {
    padding: 5.6vw;
    margin-top: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
        border-radius: 8px;
        aspect-ratio: 1/1;
        object-fit: cover;
        display: block;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }
}